<% @posts.each_slice(4) do |row| %>
  <div class="row">
    <% row.each do |post| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to(image_tag(post.image.url :small), post_path(post)) %>
          </div>
          <div class="name">
            <%= link_to image_tag("icon.png") %>
            <%= link_to post.user.name %>
          </div>
          <div class="caption">
            <span class="glyphicon glyphicon-heart" aria-hidden="true">11</span>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true">17</span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
