/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  width: 100%;
  height: 100%;
}

.container {
  min-height: 100%;
}

@font-face {
  font-family: 'Market_Deco';
  src:url('Market_Deco.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.search {
  margin-top: 13px;
  margin-right: 15px;
  margin-bottom: 13px;
  height: 23px;
  font-size: 14px;
  position: relative;
  opacity: 0.5;
  border:0px solid #dbdbdb;
  position: relative;
}

#signups {
  float: right;
  font-size: 16px;
}

body {
  font-family: 'Market_Deco';
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Market_Deco';
  src:url('Market_Deco.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

p {
  text-align: center;
  font-family: 'Market_Deco';
}

ul {
  font-family: 'Market_Deco';
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: -webkit-linear-gradient(50deg, #A0F1FF, #A0F1FF 70%, #A0F1FF);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover:not(.active) {
  background-color: #white;
  text-decoration: none;
  color: grey;
}

a:hover:active {
  background-color: #white;
  text-decoration: none;
  color: grey;
}

a:hover {
  color: black;
  background: white;
  transition: all 0.3s;
  --webkit-transition: all 0.3s;
  --moz-transition: all 0.3s;
  outline: none;
}

.active {
  background: -webkit-linear-gradient(50deg, #FFFACD, #FFB4CC 70%, #FFFACD);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 16px;
}

.nav {
  height: 30px;
}

.subnav {
  background: #AFEEEE;
  font-family: 'Market_Deco';
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  height: 50px;
  opacity: .8;
}

.logo {
  text-align: center;
  margin: auto;
}

.form {
  position: absolute;
  left: 40%;
}

.subnav ul {
  list-style: none;
  text-align: center;
}

.subnav ul li {
  display: inline-block;
}

#banner {
  text-align: center;
  font-size: 20px;
  font-family: 'Market_Deco';
  color: white;
}

footer {
  margin-top: 30px;
  text-align: center;
  background: lightgrey;
  opacity: .5;
}

h1 {
  background: -webkit-linear-gradient(50deg, #FFFACD, #FFB4CC 70%, #FFFACD);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  font-size: 60px;
}

.thumbnail {
  margin-top: 25px;
  border: none;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.thumbnail:hover {
  opacity: 0.5;
}

h3 {
  font-size: 16px;
  margin: auto;
}

h2 {
  background: -webkit-linear-gradient(50deg, #FFFACD, #FFB4CC 70%, #FFFACD);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 60px;
  text-align: center;
}

.name {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
}

.caption {
  display: inline-block;
  font-size: 14px;
}
