// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'Market_Deco';
  src:url('Market_Deco.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
